@import "../../styles/mixins.scss";

.deck-status-header {
  padding: var(--space-xl);
  margin-bottom: var(--space-xl);
  border-radius: 8px;
  background-color: var(--color-grey-70);
}

.deck-status-title {
  margin-bottom: var(--space-xl);
  font-size: var(--text-xl);
  font-weight: bold;
}

.deck-status-progress {
  margin-bottom: var(--space-xl);
  font-size: var(--text-md);
  font-weight: bold;
}

.deck-status-progress-bar-container {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--color-grey-90);
}

.deck-status-progress-bar {
  width: var(--width, 50%);
  height: 20px;
  background-color: var(--color-primary-50);
}

.deck-status-progress-half-bar {
  position: absolute;
  bottom: 0;
  width: var(--width, 50%);
  height: 10px;
  background-color: var(--color-primary-40);
  box-shadow: 0 0 4px 0 var(--color-black-10);
}

.deck-status-items {
  border-radius: 8px;;
  background-color: var(--color-grey-70);
}

.deck-status-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xl) 0;
  text-align: center;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-grey-60);
  }
}

.deck-status-item-column {
  padding: 0 var(--space-md);
  font-size: var(--text-sm);
  white-space: pre-line;

  &-1 {
    flex-basis: 30%;
  }

  &-2 {
    flex-grow: 1;
  }

  &-3 {
    flex-basis: 80px;

  @include breakpoint-smallest {
      flex-basis: 68px;
    }
  }

  @include breakpoint-smallest {
    padding: 0 var(--space-sm);
  }
}

.deck-status-items-header-item {
  font-weight: bold;
}
