@import "../../../../styles/mixins.scss";

.study-front-content {
  margin-bottom: var(--space-xl);
}

.study-attachment-btn {
  margin-bottom: var(--space-xl);
}

.study-image-btn, .study-video-btn {
  overflow: hidden;
  padding: 0;
  border-radius: 8px;
  transition: none;
}

.study-image-btn {
  cursor: zoom-in;
}

.study-image, .study-video {
  max-width: 100%;
  max-height: 280px;

  @include breakpoint-smallest {
    // Capitalize function name to call native css function instead of scss.
    max-height: Min(280px, 25vh);
  }
}

.study-audio-btn {
  padding: var(--space-xxl);
  border-radius: 50%;
}

.study-audio-btn-icon {
    width: 32px;
    height: 32px;
}

.study-video {
  pointer-events: none;
}

.study-front-text {
  max-width: var(--max-content-width);
  text-align: center;
  font-weight: bold;
  font-size: var(--text-size);
}

.study-expanded-image-mask {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-grey-90-60);
}

.study-expanded-image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 64px);
  max-height: calc(100% - 64px);
  border-radius: 8px;

  @include breakpoint-smallest {
    max-width: calc(100% - 16px);
  }
}
