@import "../../../../scss/mixins.scss";
@import "../../../../scss/variables.scss";

.study-image-btn {
  overflow: hidden;
  margin: 0 auto 16px auto;
  border-radius: 4px;
  box-shadow: $box-shadow;
  transition: none;
  cursor: zoom-in;
}

.study-image {
  max-width: 408px;
  max-height: 320px;
}

.study-audio-btn {
  margin: 0 auto 16px auto;
  padding: 16px;
  border-radius: 50%;
}

.study-video-btn {
  overflow: hidden;
  margin: 0 auto 16px auto;
  border-radius: 4px;
  box-shadow: $box-shadow;
  transition: none;
}

.study-video {
  pointer-events: none;
  max-height: 320px;
}

.study-front-text {
  display: flex;
  justify-content: center;
  max-width: 620px;
  min-height: 100px;
  margin: 0 auto 16px auto;
  text-align: center;
  line-height: 1.25;
}

.study-expaned-image-mask {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.study-expaned-image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 64px);
  max-height: calc(100% - 64px);
  border-radius: 4px;

  @include breakpoint-smallest {
    max-width: calc(100% - 16px);
  }
}
