.study-card-text-content {
  text-align: center;
  word-break: break-word;
  white-space: pre-line;
}

.study-exact {
  max-width: var(--max-content-width);
  width: 100%;
  margin: auto;
}

.study-exact-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--space-sm) var(--space-md) var(--space-sm);
}

.study-exact-title {
  font-weight: bold;
  font-size: var(--text-sm);
}

.study-exact-notice {
  display: flex;
  align-items: center;
  font-size: var(--text-xs);
  color: var(--color-grey-10);
}

.study-exact-notice-icon {
  margin-right: var(--space-sm);
}

.study-exact-input {
  width: 100%;
  margin-bottom: var(--space-xl);

  &.wrong {
    background-color: var(--color-negative-50);
    font-weight: bold;
  }

  &.right {
    background-color: var(--color-positive-50);
    font-weight: bold;
  }
}

.study-exact-btn {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

.study-multi {
  width: 100%;
  max-width: var(--max-content-width);
  margin: auto;

  &.revealed .study-multi-item {
    cursor: default;

    &:not(.correct):hover {
      --background-color: var(--color-grey-50);
    }
  }
}

.study-multi-item {
  font-weight: normal;

  &:hover, &.focus-visible {
    --background-color: var(--color-grey-40);
  }

  &.correct {
    --background-color: var(--color-positive-50);

    font-weight: bold;
  }
}

.study-multi-long-type-item {
  width: 100%;
  padding: var(--space-lg) var(--space-xl);
  margin-bottom: var(--space-md);
  border-radius: 8px;
  text-align: left;
}

.study-multi-medium-type {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: var(--space-md);
}

.study-multi-medium-type-item {
  width: 100%;
  height: 100%;
  padding: var(--space-lg) var(--space-xl);
  border-radius: 8px;
}

.study-multi-short-type {
  --cell-size: 96px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, var(--cell-size));
  grid-gap: var(--space-md);
  max-width: 408px;
}

.study-multi-short-type-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: var(--space-sm);
  border-radius: 8px;
}
