@import "../../../../../scss/variables.scss";

.upload-panel {
  height: 100%;
  padding: 8px;
}

.upload-type-selection {
  display: flex;
  margin-bottom: 32px;
}

.upload-type-selection-btn {
  flex: 1;
  padding: 4px;
  color: $color-text-dark;
  transition: none;

  &:not(:last-of-type) {
    margin-right: 8px;
  }

  &:hover, &.active {
    background-color: $background-color-dark;
    box-shadow: $box-shadow;
  }

  span {
    text-transform: capitalize;
  }
}

.upload-panel-device-target {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-panel-device-target-title {
  margin-right: 8px;
}

.upload-panel-import-input-container {
  white-space: nowrap;

  &:focus-within {
    box-shadow: 0 0 0 1px $highlight-color;
  }
}

.upload-panel-item-separator {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
  text-align: center;
}

.upload-panel-url-target {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-panel-url-target-title {
  margin-bottom: 8px;
}

.upload-panel-form {
  display: flex;
  width: 100%;
}

.upload-panel-url-target-input {
  width: 100%;
  margin-right: 8px;
}

.upload-panel-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
}

.upload-panel-message {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: $danger-color;
  font-size: 0.875em;
  font-weight: bold;
  color: $color-text-lighter;
}
