@import "../../styles/mixins.scss";

.decks-header {
  position: relative;
  padding: var(--space-xl);
  margin-bottom: var(--space-xl);
  background-color: var(--color-grey-70);
  border-radius: 999px;
}

.decks-title {
  font-size: var(--text-md);
  font-weight: bold;
  text-align: center;
}

.deck-create-link {
  position: absolute;
  right: var(--space-md);
  top: 50%;
  transform: translateY(-50%);
}

.decks-top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.decks-top-bar-item {
  margin-left: var(--space-xl);

  &:hover, &.focus-visible {
    --background-color: var(--color-grey-70);
  }
}

.deck-import-input-container:focus-within {
  box-shadow: 0 0 0 1px var(--color-accent);
  background-color: var(--color-grey-70);
  color: var(--color-white);
}

.decks {
  --max-item-width: 320px;

  display: grid;
  gap: var(--space-xl);
  grid-template-columns: repeat(auto-fill, minmax(var(--max-item-width), 1fr));
  margin-top: var(--space-xl);

  @include breakpoint-smallest {
    --max-item-width: 302px;
  }
}

.deck {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  border-radius: 8px;
  background-color: var(--color-grey-70);
}

.deck-info {
  display: flex;
  justify-content: space-between;
  padding: var(--space-xl);
}

.deck-title {
  font-size: var(--text-md);
  font-weight: bold;
}

.deck-description {
  margin-top: var(--space-md);
  font-size: var(--text-sm);
}

.deck-card-count {
  margin-top: var(--space-md);
  font-size: var(--text-xs);
  color: var(--color-grey-20);
  font-weight: bold;
}

.deck-btn-container {
  display: flex;
  margin-top: auto;
  padding: var(--space-md);
  border-top: 1px solid var(--color-grey-60);
}

.deck-btn {
  margin-right: var(--space-xl);
}

.decks-message {
  margin: auto;
  font-size: var(--text-xl);
}

.deck-remove-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.deck-remove-modal-cancel-btn {
  margin-right: var(--space-md);

  &:hover, &.focus-visible {
    --background-color: var(--color-grey-40);
  }
}

.deck-remove-modal-confirm-btn {
  --color: var(--color-negative-30);

  &:hover, &.focus-visible {
    --background-color: var(--color-negative-40);
    --color: var(--color-negative-60);
  }
}
