@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.study-card {
  width: 100%;
  margin: 0 auto;
}

.study-card-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.study-card-text-btns {
  margin: auto;

  .btn:first-of-type {
    margin-right: 8px;
  }
}

.study-card-text-btn {
  padding: 12px 24px;
}

.study-card-text-reveal-btn {
  margin: 0 auto auto auto;
  color: $color-text-dark;
  background-color: $background-color;

  &:hover {
    background-color: $background-color-dark;
  }
}

.study-card-multi {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.study-card-exact {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
