.study-card {
  --max-content-width: 620px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: var(--space-xl);
}

.study-card-text-btn {
  min-width: 120px;
  padding: var(--space-lg) var(--space-xxxl);

  &:not(:last-of-type) {
    margin-right: var(--space-xl);
  }
}
