@import "../../../../styles/mixins.scss";

.upload-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.upload-type-selection {
  display: flex;
  margin: var(--space-xl) var(--space-md);

  @include breakpoint-smallest {
    margin: var(--space-md);
  }
}

.upload-type-selection-btn {
  flex: 1;
  text-transform: capitalize;

  &:not(:last-of-type) {
    margin-right: var(--space-md);
  }

  &.active {
    --background-color: var(--color-grey-40);
    --color: var(--color-white);
  }

  @include breakpoint-smallest {
    padding: var(--space-sm) var(--space-lg);
  }
}


.upload-panel-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.upload-panel-import-input-container:focus-within {
  --background-color: var(--color-grey-40);

  box-shadow: 0 0 0 1px var(--color-accent);
}

.upload-panel-item-separator {
  margin: auto;
  font-weight: bold;
  text-align: center;
}

.upload-panel-form {
  overflow: hidden;
  display: flex;
  width: 100%;
  margin-bottom: var(--space-xl);
  border-radius: 8px;

  @include breakpoint-smallest {
    margin-bottom: var(--space-md);
  }
}

.upload-panel-form-input, .upload-panel-form-btn {
  border: 1px solid transparent;

  &.focus-visible {
    box-shadow: none;
    border: 1px solid var(--color-accent);
  }
}

.upload-panel-form-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid var(--color-grey-70);
}

.upload-panel-form-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.upload-panel-message {
  margin-bottom: var(--space-md);
  padding: var(--space-md);
  border-radius: 8px;
  background-color: var(--color-negative-50);
  font-size: var(--text-sm);
  font-weight: bold;

  @include breakpoint-smallest {
    margin-bottom: var(--space-sm);
    padding: var(--space-sm) var(--space-md);
  }
}
