@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.deck-form-field {
  margin-bottom: 16px;
}

.deck-form-field-title {
  margin-bottom: 4px;
  color: $color-text-dark;
  font-size: 0.875em;
  font-weight: bold;
}

.deck-form-field-input {
  width: 100%;
}

.create-card-select {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.create-card-select-item {
  --space: 8px;

  margin-bottom: var(--space);

  &:not(:last-of-type) {
    margin-right: var(--space);
  }

  @include breakpoint-smallest {
     --space: 4px;
  }
}

.create-card-select-btn {
  padding: 8px 12px;
  border-radius: 999px;
  background-color: $background-color;
  box-shadow: 0 0 0 1px $background-color;
  font-weight: bold;
  font-size: 0.875em;

  &:hover {
      background-color: $background-color-light;
      box-shadow: 0 0 0 1px $background-color-dark;
  }

  &.active {
    box-shadow: 0 0 0 1px $highlight-color;
    background-color: transparentize($highlight-color, $amount: 0.8);
    color: $highlight-color;
  }
}

.create-card-add-btn {
  padding: 4px;
}

.create-message {
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 2px;
  background-color: $danger-color;
  color: $color-text-lighter;

  @include breakpoint-smallest {
    position: absolute;
    top: -22px;
    right: 0;
  }
}

.create-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
}

.deck-form-dialog {
  z-index: 2;
  position: fixed;
  right: 8px;
  bottom: 42px;
  padding: 8px 8px 8px 16px;
  border-radius: 4px;
  background-color: $background-color-darker;
  box-shadow: 0 1px 1px $color-black-20;
  font-size: 14px;

  .btn {
    margin-left: 8px;
  }
}
