@import "../../styles/mixins.scss";

.create-field {
  margin-bottom: var(--space-xl);
}

.create-field-title {
  margin-left: var(--space-sm);
  margin-bottom: var(--space-sm);
  font-size: var(--text-sm);
  font-weight: bold;
}

.create-field-input {
  width: 100%;
  background-color: var(--color-grey-70);
}

.create-field-input-message {
  margin-top: var(--space-md);
  margin-left: var(--space-sm);
  color: var(--color-negative-40);
  font-size: var(--text-sm);
  font-weight: bold;
}

.create-card-select {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--space-md);
}

.create-card-select-item {
  --space:  var(--space-md);

  margin-bottom: var(--space);

  &:not(:last-of-type) {
    margin-right: var(--space);
  }

  @include breakpoint-smallest {
     --space:  var(--space-sm);
  }
}

.create-card-select-btn {
  --background-color: var(--color-grey-70);

  min-width: 32px;
  height: 32px;
  padding: var(--space-sm);

  &:hover {
    --background-color: var(--color-grey-50);

    &.active {
      --background-color: var(--color-primary-50);
    }

    &:not(.active).valid {
      --background-color: var(--color-positive-40);
    }

    &:not(.active).invalid {
      --background-color: var(--color-negative-40);
    }
  }

  &.active {
    --background-color: var(--color-primary-50);
    --color: var(--color-grey-70);
  }

  &:not(.active).valid {
    --background-color: var(--color-positive-50);
    --color: var(--color-grey-70);
  }

  &:not(.active).invalid {
    --background-color: var(--color-negative-50);
    --color: var(--color-grey-70);
  }
}

.create-card {
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--color-grey-70);
}

.create-card-header {
  display: flex;
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-grey-60);
}

.create-card-header-item {
  margin-right: var(--space-md);
}

.create-card-remove-card-btn {
  margin-left: var(--space-md);
}

.create-card-index-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.create-card-index {
  margin-right: var(--space-xl);
  margin-left: var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
}

.create-side-message {
  padding: var(--space-sm);
  margin-top: auto;
  background-color: var(--color-negative-50);
  font-size: var(--text-sm);
  font-weight: bold;
  text-align: center;
}

.create-card-main {
  display: flex;
  border-bottom: 1px solid var(--color-grey-60);

  @include breakpoint-smallest {
    display: block;
  }
}

.create-card-side {
  position: relative;
  flex-basis: 50%;
}

.create-side-toolbar {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-grey-60);
  box-shadow: 1px 0 0 0 var(--color-grey-60);
}

.create-side-types {
  display: flex;
  margin-right: auto;
}

.create-side-type:not(:last-of-type) {
  margin-right: var(--space-md);
}

.create-type-radio {
  &:checked + .create-option-type-icon {
    background-color: var(--color-grey-50);
    color: var(--color-white);
  }

  &.focus-visible + .create-option-type-icon {
    box-shadow: 0 0 0 1px var(--color-accent);
  }
}

.create-option-type-icon {
  padding: var(--space-sm);
  border-radius: 999px;
  color: var(--color-grey-20);
  cursor: pointer;

  &:hover {
    color: var(--color-white);
  }
}

.create-side-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 276px;

  @include breakpoint-smallest {
    height: 200px;
  }
}

.create-front-side-content {
  box-shadow: 1px 0 0 0 var(--color-grey-60);

  @include breakpoint-smallest {
    box-shadow:0 1px 0 0 var(--color-grey-60);
  }
}

.create-side-text-input, .create-card-notes-input, .create-side-attachment-input {
  width: 100%;
  padding: var(--space-md);
  border-radius: 0;
  background-color: inherit;

  &.focus-visible {
    box-shadow: none;
    border-color: var(--color-accent);
  }
}

.create-side-text-input {
  height: 100%;
  border-bottom: 1px solid transparent;
}

.create-side-attachment-input {
  border: 1px solid transparent;
}

.create-side-panel {
  position: relative;
  height: calc(100% - 34px);
  border-bottom: 1px solid var(--color-grey-60);
}

.create-side-panel-btn {
  z-index: 1;
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
}

.create-side-image {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

.create-side-audio {
  position: relative;
  top: 50%;
  width: 100%;
  padding: 0 var(--space-md);
  transform: translateY(-50%);
}

.create-side-video {
  width: 100%;
  max-height: 100%;
}

.create-side-attachment-message {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  padding: var(--space-sm);
  background-color: var(--color-negative-50);
  font-size: var(--text-sm);
  font-weight: bold;
  text-align: center;
}

.create-multi-layout {
  margin: var(--space-xl) var(--space-md);
}

.create-multi-layout-title {
  margin-bottom: var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
}

.create-multi-layout-items {
  display: flex;
}

.create-multi-layout-item {
  margin-right: var(--space-md);
}

.create-option {
  display: flex;
  align-items: center;
  padding: var(--space-md);
}

.create-option-input {
  flex-grow: 1;
  margin: 0 var(--space-md);
}

.create-exact-input-container {
  display: block;
  padding: var(--space-md);
  margin-top: var(--space-md);
}

.create-exact-input-title {
  margin-bottom: var(--space-md);
  font-weight: bold;
  font-size: var(--text-sm);
}

.create-exact-input {
  width: 100%;
}

.create-exact-checkbox-container {
  margin-left: var(--space-md);
  font-size: var(--text-sm);
}

.create-card-notes-container {
  grid-column: 1 / 3;
  width: 100%;
}

.create-card-notes-input {
  height: 80px;
  border-top: 1px solid transparent;
}


.create-undo-dialog {
  z-index: 2;
  position: fixed;
  right: var(--space-xl);
  bottom: var(--space-xl);
  padding: var(--space-md) var(--space-xl) var(--space-md) var(--space-xl);
  border-radius: 8px;
  background-color: var(--color-grey-70);
  box-shadow: 0 1px 4px 0 var(--color-black-10);
  font-size: var(--text-sm);
  font-weight: bold;
}

.create-dialog-undo-btn {
  margin-left: var(--space-xl);
}

.create-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: var(--space-xl);
}

.create-message {
  padding: var(--space-md);
  border-radius: 8px;
  background-color: var(--color-negative-50);
  font-size: var(--text-sm);
  font-weight: bold;

  @include breakpoint-smallest {
    position: absolute;
    bottom: calc(100% + 8px);
    right: 0;
  }
}

.create-footer-btn {
  --background-color: var(--color-grey-70);

  margin-left: var(--space-md);

  &:hover {
    --background-color: var(--color-grey-50);
  }
}
