@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.study-header {
  position: relative;
  overflow: hidden;
  padding-bottom: 6px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: $background-color;
  box-shadow: $box-shadow;
}

.study-header-title {
  overflow: hidden;
  padding: 0 64px 2px 64px;
  color: $color-text;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include breakpoint-smallest {
    padding-left: 8px;
    text-align: left;
  }
}

.study-progress {
  height: 4px;
  margin-bottom: 4px;
  background-color: $secondary-accent-color;
  transform-origin: left;
  transition: 0.2s transform;
}

.study-score {
  margin-bottom: 16px;
}

.study-score-bar-name-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  margin-bottom: 4px;
  color: $color-text-dark;
  font-weight: bold;
  font-size: 12px;
}

.study-score-bar-container {
  overflow: hidden;
  display: flex;
  border-radius: 2px;
}

.score-bar {
  width: var(--width, 50%);
  padding-top: 2px;
  padding-bottom: 2px;
  color: $color-text-lighter;
  font-size: 0.875em;
  font-weight: bold;
  text-align: center;
  transition: width 0.4s;

  @include breakpoint-smallest {
    &.small {
      width: auto;
      background-color: transparent;

      &.score-wrong-bar {
        color: $danger-color;

        &:after {
          content: "/";
          margin-right: 2px;
          margin-left: 2px;
          color: $color-text-darkest;
        }
      }

      &.score-right-bar {
        color: $success-color;
      }
    }
  }
}

.score-wrong-bar {
  background-color: $danger-color;
}

.score-right-bar {
  background-color: $success-color;
}

.study-footer {
  margin-top: 8px;
}

.study-footer-btns {
  display: flex;
}

.study-footer-btn {
  padding: 2px;
}

.study-exit-btn {
  margin-left: auto;
}

.study-card-notes {
  max-height: 200px;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  background-color: $background-color;
  box-shadow: $box-shadow;
  font-size: 14px;
  white-space: pre-wrap;
}

.deck-score-container {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  margin: 8px auto 0 auto;
  border-radius: 4px;
  background-color: $background-color;
  box-shadow: $box-shadow;
}

.deck-score-title {
  margin-bottom: 16px;
  font-size: 1em;
  color: $color-text-dark;
  text-align: center;
}

.deck-score-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64%;
  height: 120px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: $background-color-lightest;
  box-shadow: inset $box-shadow;
  color: $color-text-dark;

  @include breakpoint-smallest {
    width: 80%;
  }
}

.deck-score-accuracy-name {
  font-size: 0.875em;
  font-weight: bold;
}

.deck-score-accuracy-value {
  font-size: 2.4em;
}

.deck-score-time {
  display: flex;
  align-items: center;
}

.deck-score-time-value {
  margin-left: 8px;
  font-size: 0.875em;
  font-weight: bold;
}

.deck-score-bars {
  overflow: hidden;
  display: flex;
  width: 64%;
  margin: 16px auto;
  border-radius: 2px;

  @include breakpoint-smallest {
    width: 80%;
  }
}

.deck-score-btn-container {
  display: flex;
  justify-content: center;
}

.deck-score-btn:not(:last-of-type) {
  margin-right: 8px;
}

.study-session-stats {
  margin-top: 16px;
  border-radius: 4px;
  background-color: $background-color;
  box-shadow: $box-shadow;
}

.study-session-stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  text-align: center;

  &:not(:last-of-type) {
    border-bottom: 1px solid $background-color-darkest;
  }
}

.study-session-stats-column {
  flex-basis: 30%;
  flex-grow: 1;
  padding: 0 8px;
  font-size: 0.875em;
  white-space: pre-line;

  @include breakpoint-smallest {
    padding: 0 4px;
  }
}

.study-session-stats-header-item {
  font-weight: bold;
  font-size: 0.815em;
  color: $color-text-dark;
}

.study-session-stats-back-column {
  flex-basis: 44%;
}

.study-session-stats-accuracy-column {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-basis: 16%;
  flex-grow: 0;
  padding: 0;
  border-radius: 2px;

  @include breakpoint-smallest {
    flex-basis: 60px;
  }
}

.study-session-stats-streak-column {
  flex-basis: 10%;
  flex-grow: 0;
  padding: 0;

  @include breakpoint-smallest {
    flex-basis: 48px;
  }
}

.study-exit-modal-btns {
  display: flex;
}

.study-exit-modal-btn:not(:last-of-type) {
  margin-right: 8px;
}

@keyframes expand {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
