.study-header {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: var(--color-grey-70);
  box-shadow: 0 1px 4px 0 var(--color-black-10);

  &.has-timer {
    .study-header-title {
      padding: 0 var(--space-xxl);

      @media (width <= 672px) {
        padding-left: var(--space-xl);
      }
    }
  }

  @media (width <= 672px) {
    padding: var(--space-md) var(--space-xl);
  }
}

.study-exit-btn {
  position: absolute;
  top: 50%;
  left: var(--space-xl);
  transform: translateY(-50%);

  @media (width <= 672px) {
    left: var(--space-sm);
    padding: 2px;
  }
}

.study-header-title {
  overflow: hidden;
  padding: 0 var(--space-xl);
  font-size: var(--text-md);
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.study-preview-icon {
  position: absolute;
  right: var(--space-xl);
  top: 50%;
  width: 24px;
  height: 24px;
  color: var(--color-grey-20);
  transform: translateY(-50%);

  @media (width <= 672px) {
    right: var(--space-md);
    width: 20px;
    height: 20px;
  }
}

.study-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-primary-50);
  transform-origin: left;
  transition: 0.2s transform;
}

.study-score {
  margin-bottom: var(--space-xl);
}

.study-score-bar-name-container {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--space-sm);
  margin-bottom: var(--space-md);
  font-weight: bold;
  font-size: var(--text-sm);
}

.study-score-bar-container {
  overflow: hidden;
  display: flex;
  border-radius: 4px;
}

.score-bar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width, 50%);
  height: 20px;
  font-size: var(--text-sm);
  font-weight: bold;
  transition: width 0.4s;

  @media (width <= 672px) {
    &.small {
      width: auto;
      background-color: transparent;

      &.score-wrong-bar {
        color: var(--color-negative-50);

        &::after {
          content: "/";
          margin-right: var(--text-xs);
          margin-left: var(--text-xs);
          color: var(--color-white);
        }
      }

      &.score-right-bar {
        color: var(--color-positive-50);
      }
    }
  }
}

.score-wrong-bar {
  background-color: var(--color-negative-50);
}

.score-right-bar {
  background-color: var(--color-positive-50);
}

.study-card-select {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--space-md);
}

.study-card-select-item {
  --space: var(--space-md);

  margin-bottom: var(--space);

  &:not(:last-of-type) {
    margin-right: var(--space);
  }
}

.study-card-select-btn {
  --background-color: var(--color-grey-70);

  min-width: 32px;
  height: 32px;
  padding: var(--space-sm);

  &:hover {
    --background-color: var(--color-grey-50);

    &.active {
      --background-color: var(--color-primary-50);
    }
  }

  &.active {
    --background-color: var(--color-primary-50);
    --color: var(--color-grey-70);
  }
}

.study-notes-toggle-btn-container {
  display: flex;
  justify-content: center;

  @media (width <= 672px) {
    margin-top: var(--space-md);
  }
}

.study-notes {
  max-height: 200px;
  padding: var(--space-md);
  margin-top: var(--space-md);
  border-radius: 8px;
  background-color: var(--color-grey-50);
  font-size: var(--text-sm);
  white-space: pre-wrap;
}

.study-score-container {
  width: 100%;
  max-width: 400px;
  padding: var(--space-xl);
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--color-grey-70);
}

.study-score-title {
  margin-bottom: var(--space-xl);
  font-size: var(--text-lg);
  text-align: center;
}

.study-score-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64%;
  height: 120px;
  padding: var(--space-md);
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--color-grey-90);

  @media (width <= 672px) {
    width: 80%;
  }
}

.study-score-accuracy-name {
  font-size: var(--text-sm);
  font-weight: bold;
}

.study-score-accuracy-value {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-xl);
  font-size: var(--text-xxl);
}

.study-score-time {
  display: flex;
  align-items: center;
}

.study-score-time-value {
  margin-left: var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
}

.study-score-bars {
  overflow: hidden;
  display: flex;
  width: 64%;
  margin: var(--space-xl) auto;
  border-radius: 4px;

  @media (width <= 672px) {
    width: 80%;
  }
}

.study-score-btn-container {
  display: flex;
  justify-content: center;
}

.study-score-btn {
  --space: var(--space-md);

  &:not(:last-child) {
    margin-right: var(--space);
  }

  @media (width <= 672px) {
    --space: var(--space-sm);

    padding: var(--space-md) var(--space-lg);
  }
}

.study-session-stats {
  margin-top: var(--space-xl);
  border-radius: 8px;
  background-color: var(--color-grey-70);
}

.study-session-stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xl) 0;
  text-align: center;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-grey-50);
  }
}

.study-session-stats-column {
  flex-basis: 30%;
  flex-grow: 1;
  padding: 0 var(--space-md);
  font-size: var(--text-sm);
  white-space: pre-line;

  @media (width <= 672px) {
    padding: 0 var(--space-sm);
  }
}

.study-session-stats-header-item {
  font-weight: bold;
}

.study-session-stats-back-column {
  flex-basis: 44%;
}

.study-session-stats-accuracy-column {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-basis: 16%;
  flex-grow: 0;
  padding: 0;
  border-radius: 4px;

  @media (width <= 672px) {
    flex-basis: 60px;
  }
}

.study-session-stats-streak-column {
  flex-basis: 10%;
  flex-grow: 0;
  padding: 0;

  @media (width <= 672px) {
    flex-basis: 48px;
  }
}

.study-exit-modal-btns {
  display: flex;
}

.study-exit-modal-btn {
  &:not(:last-of-type) {
    margin-right: var(--space-md);
  }

  &:hover, &:focus-visible {
    --background-color: var(--color-grey-40);
  }
}
