.decks-settings-item {
  display: block;
  padding: var(--space-xl) 0;
  font-size: var(--text-sm);
  border-bottom: 1px solid var(--color-grey-50);

  &.disabled {
    opacity: 0.5;
  }
}

.decks-settings-checkbox {
  background-color: var(--color-grey-40);
}

.decks-settings-input {
  width: 60px;
  margin: 0 var(--space-md);
  background-color: var(--color-grey-40);
  text-align: center;

  &:invalid ~ .decks-settings-message {
    display: block;
  }
}

.decks-settings-message {
  display: none;
  margin-top: var(--space-md);
  color: var(--color-negative-30);
  font-size: var(--text-xs);
  font-weight: bold;
}

.decks-settings-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-xl);
}

.decks-settings-hide-btn {
  &:hover, &.focus-visible {
    background-color: var(--color-grey-40);
  }
}
