@import "../../../scss/variables.scss";

.deck-settings-modal-container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black-40;
}

.deck-settings-modal {
    padding: 16px;
    border-radius: 4px;
    box-shadow: $box-shadow;
    background-color: $background-color-dark;
}

.deck-settings-modal-title {
    margin-bottom: 24px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: $color-text-dark;
}

.deck-settings-item {
    display: block;
    padding-left: 8px;
    padding-bottom: 4px;
    font-size: 0.875em;

    &:not(:last-of-type) {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid $background-color-darkest;
    }
}

.deck-settings-checkbox {
    background-color: $background-color-darkest;
}

.deck-settings-input {
    width: 60px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-left: 8px;
    text-align: center;
    background-color: $background-color-darkest;

    &:invalid ~ .settings-message {
        display: block;
    }
}

.deck-settings-message {
    display: none;
    margin-top: 8px;
    font-size: 13px;
    color: $danger-color;
}
