.modal-mask {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-sm);
  background-color: var(--color-grey-90-60);
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-name: opacity-up;
}

.modal {
  padding: var(--space-xl);
  border-radius: 8px;
  background-color: var(--color-grey-60);
  animation-fill-mode: both;
  animation-duration: 0.2s;
  animation-name: translate-modal;
}

.modal-title {
  margin-bottom: var(--space-xxl);
  font-size: var(--text-md);
  font-weight: bold;
  text-align: center;
}

@keyframes opacity-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translate-modal {
  from {
    transform: translateY(-8%);
  }
  to {
    transform: translateY(0);
  }
}
