.home-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 56vh;
  padding-bottom: var(--space-xl);
  margin-bottom: var(--space-xxxl);
  border-bottom: 1px solid var(--color-grey-70);

  @media (width <= 672px) {
    min-height: 64vh;
  };
}

.home-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-primary-50);
}

.home-icon {
  width: 32px;
  height: 32px;
  color: var(--color-primary-50);
}

.home-hero-icon-container {
  margin-bottom: var(--space-xl);
  width: 100px;
  height: 100px;
  background-color: var(--color-primary-50);

  @media (width <= 672px) {
    width: 80px;
    height: 80px;
  };
}

.home-hero-icon {
  color: var(--color-grey-90);
  width: 50%;
  height: 50%;
}

.home-hero-title {
  margin-bottom: var(--space-xl);
  font-size: var(--text-xxxl);

  @media (width <= 672px) {
    font-size: var(--text-xxl);
  };
}

.home-hero-desc {
  font-size: var(--text-xl);

  @media (width <= 672px) {
    font-size: var(--text-lg);
  };
}

.home-hero-btn {
  margin-top: var(--space-xxxl);
  padding: var(--space-lg) var(--space-xxl);
  border-radius: 999px;
  background-color: var(--color-primary-50);
  color: var(--color-grey-90);

  &:hover, &:focus-visible {
    background-color: var(--color-primary-40);
  }
}

.home-features-title {
  margin-bottom: var(--space-xxxl);
  font-size: var(--text-xxl);
  text-align: center;
}

.home-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.home-feature {
  max-width: 280px;
  padding: var(--space-xl);
  font-size: var(--text-md);
  line-height: 1.4;

  @media (width <= 672px) {
    &:not(:last-of-type) {
      margin-bottom: var(--space-xl);
    }
  };
}

.home-feature-title {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
  font-size: var(--text-md);
  font-weight: bold;
}
