@import "../../styles/mixins.scss";

.header {
  height: var(--header-height);
  padding: 0 var(--space-xl);
  background-color: var(--color-grey-70);
  box-shadow: 0 1px 4px 0 var(--color-black-10);
}

.header-nav {
  display: flex;
  height: 100%;
}

.header-logo-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: var(--space-xl);
  color: var(--color-white);
  font-size: var(--text-sm);
  font-weight: bold;

  @include breakpoint-smallest {
    margin-right: var(--space-md);
  };
}

.header-logo-icon {
  width: 28px;
  height: 28px;
  margin-right: var(--space-md);
  color: var(--color-primary-50);

  @include breakpoint-smallest {
    width: 24px;
    height: 24px;
  };
}

.header-nav-items {
  display: flex;
  flex-grow: 1;
}

.header-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 80px;
  padding: 0 var(--space-xl);
  color: var(--color-grey-20);
  font-size: var(--text-sm);
  font-weight: bold;
  transition: 0.1s background-color, 0.1s color;

  &:hover, &.focus-visible {
    color: var(--color-white);
    background-color: var(--color-grey-50);
  }

  &.active {
    color: var(--color-white);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      height: 4px;
      background-color: var(--color-primary-50);
      transform: scaleY(0);
      transform-origin: bottom;
      animation-duration: 0.1s;
      animation-fill-mode: forwards;
      animation-name: rise;
    }
  }

  @include breakpoint-smallest {
    min-width: 60px;
    padding: 0 var(--space-lg);
  };
}

@keyframes rise {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
