@import "variables";
@import "mixins";

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $background-color-lightest;
  color: $color-text-darkest;
  font-size: 16px;
  font-family: $font-family;
  text-rendering: optimizeLegibility;

  @include breakpoint-smallest {
    font-size: 14px;
  }
}

a {
  text-decoration: none;

  &.focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px $highlight-color;
  }
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

svg {
  box-sizing: content-box;
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

textarea {
  display: block;
  resize: none;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

.app {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  min-height: calc(100% - 56px);
  padding: 16px;
  margin: 0 auto;

  @include breakpoint-smallest {
    min-height: calc(100% - 40px);
    padding: 16px 8px;
  }
}

.input, .btn {
  border: none;
  border-radius: 2px;
  box-shadow: $box-shadow;
  font-size: 14px;

  &.focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px $highlight-color;
  }
}

.input {
  padding: 6px 8px;
  background-color: $background-color-dark;
  color: $color-text-darkest;
}

.btn {
  padding: 6px 12px;
  background-color: $highlight-color;
  font-weight: bold;
  color: $color-text-lighter;
  transition: 0.2s background-color, 0.2s color;
  cursor: pointer;

  &:hover {
    background-color: darken($highlight-color, 4%);
  }

  &:disabled {
    cursor: default;
  }
}

.btn-success {
  background-color: $success-color;

  &:hover {
    background-color: darken($success-color, 4%);
  }

  &:disabled {
    background-color: $success-color;
  }
}

.btn-danger {
  background-color: $danger-color;

  &:hover {
    background-color: darken($danger-color, 4%);
  }

  &:disabled {
    background-color: $danger-color;
  }
}

.btn-icon, .btn-text {
  background-color: transparent;
  box-shadow: none;
  color: $color-text;

  &:hover {
    background-color: transparent;
    color: $color-text-darkest;
  }

  &:disabled {
    color: $color-text-light;
  }
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  span {
    margin-left: 4px;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  &:checked + .checkbox .checkbox-tick {
    display: block;
  }

  &.focus-visible + .checkbox {
    box-shadow: 0 0 0 1px $highlight-color;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  box-shadow: $box-shadow;
  background-color: $background-color-dark;
}

.checkbox-tick {
  display: none;
  width: 34%;
  height: 68%;
  border-right: 2px solid $highlight-color;
  border-bottom: 2px solid $highlight-color;
  transform: translate(4%, -10%) rotateZ(45deg);
}

.checkbox-label {
  margin-left: 8px;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-input {
  &:checked + .radio {
    background-color: $highlight-color;
  }

  &.focus-visible + .radio {
    box-shadow: 0 0 0 1px $highlight-color;
  }
}

.radio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid $background-color-dark;
  background-color: $background-color-dark;
  box-shadow: $box-shadow;
}

.radio-label {
  margin-left: 8px;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.no-match-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
}

.service-worker-popup {
  z-index: 2;
  position: fixed;
  bottom: 8px;
  right: 8px;
  opacity: 0;
  visibility: hidden;
  padding: 16px;
  border-radius: 4px;
  background-color: $background-color-darker;
  box-shadow: $box-shadow;
  font-size: 14px;
  transition:
  0.4s opacity,
  0.4s visibility,
  0.4s transform;
  transform: translateX(calc(100% + 10px));

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.mask {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  animation-fill-mode: both;
  animation-duration: 0.2s;
  animation-name: opacity-up;
}

@keyframes opacity-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  padding: 16px 16px 8px 16px;
  border-radius: 2px;
  background-color: $background-color-darker;
  box-shadow: $box-shadow;
  animation-fill-mode: both;
  animation-duration: 0.2s;
  animation-name: translate-modal;
}

@keyframes translate-modal {
  from {
    transform: translateY(-8%);
  }
  to {
    transform: translateY(0);
  }
}
