.create-input-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 24px;

    @include breakpoint-smallest {
        flex-direction: column;
    }
}

.create-input-label {
    width: calc(50% - 4px);

    @include breakpoint-smallest {
        width: 100%;
    }
}

.create-description-input {
    resize: none;
    height: 80px;
    margin-bottom: 16px;
}

.create-title-input-container {
    display: block;
    width: calc(50% - 4px);
    margin-bottom: 16px;

    @include breakpoint-smallest {
        width: 100%;
    }
}

.create-title-input {
    width: 100%;

    @include breakpoint-smallest {
        margin-bottom: 16px;
    }
}

.create-deck-message {
    margin: auto;
    font-size: 1.5em;
}

.create-list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.create-card-index,
.create-card-btns {
    flex-shrink: 0;
    min-width: 20px;
    margin-top: 24px;
}

.create-card-index {
    margin-right: 4px;
    color: $color-text-alt;
    text-align: center;
}

.create-card-btns {
    margin-left: 4px;

    .btn-icon {
        margin-bottom: 8px;
    }
}

.create-card {
    flex: 1;
    margin: 0;
}

.create-side-toolbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: $background-color;
    box-shadow: $box-shadow;
}

.toolbar-btn {
    &:first-of-type {
        margin-right: 4px;
    }

    &.active {
        color: $color-text;
    }
}

.file-input {
    display: none;
}

.create-side-select {
    margin-left: auto;
    padding: 2px;
    box-shadow: $box-shadow;
}

.create-side-content {
    height: 300px;
}

.create-side-panel-btn {
    position: absolute;
    top: 4px;
    right: 4px;
}

.create-side-text-input {
    resize: none;
}

.create-card-flip-btn {
    display: none;

    @include breakpoint-smallest {
        display: block;
    }
}

.upload-panel {
    width: 360px;
}

.upload-panel-device-target {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-panel-device-target-title {
    margin-right: 8px;
}
.upload-panel-url-target {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-panel-url-target-title {
    margin-bottom: 8px;
}

.upload-panel-url-target-input {
    margin-right: 8px;
    border-radius: 2px;
}

.upload-panel-item-separator {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    text-align: center;
}

.upload-panel-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid $dark-border-color;
}

.upload-panel-message {
    padding: 4px 8px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: $danger-color;
    font-size: 14px;
    color: $color-text-secondary;
}

.create-message {
    margin-right: 8px;
    padding: 4px 8px;
    border-radius: 2px;
    background-color: $danger-color;
    color: $color-text-secondary;

    @include breakpoint-smallest {
        position: absolute;
        top: -22px;
        right: 0;
    }
}

.create-footer {
    position: relative;
    justify-content: space-between;
}
