.create-title-input-container {
    display: block;
    width: calc(50% - 38px);
    margin-left: 34px;
    margin-bottom: 8px;

    @include card-breakpoint {
        width: calc(100% - 68px);
    }
}

.create-title-input {
    width: 100%;
}

.create-list-item {
    display: flex;
    padding-bottom: 8px;

    &:not(:last-of-type) {
        border-bottom: 1px solid $border-color;
        margin-bottom: 8px;
    }
}

.create-card {
    flex-grow: 1;
    display: flex;

    @include card-breakpoint {
        flex-direction: column;
    }
}

.create-card-index, .create-card-btns {
    width: 26px;
    margin-top: 20px;
}

.create-card-index {
    margin-right: 8px;
    color: $alt-text-color;
    font-size: 12px;
    text-align: right;
}

.create-card-btns {
    margin-left: 8px;
}

.create-side {
    position: relative;
    flex-grow: 1;

    &:first-of-type {
        margin-right: 8px;
    }

    @include card-breakpoint {
        &:first-of-type {
            margin-right: 0;
            margin-bottom: 8px;
        }
    }
}

.create-side-input {
    resize: none;
    display: block;
    width: 100%;
    height: 300px;

    @include card-breakpoint {
        height: 160px;
    }
}

.create-side-message {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: $danger-color;
    text-align: center;
}

.create-message {
    margin-right: 8px;
    padding: 4px 8px;
    background-color: $danger-color;
}

.create-footer {
    justify-content: space-between;
}
