.create-title-input-container {
    display: block;
    width: calc(50% - 4px);
    margin-bottom: 8px;

    @include breakpoint-smallest {
        width: 100%;
    }
}

.create-title-input {
    width: 100%;
}

.create-list-item:not(:last-of-type) {
    margin-bottom: 8px;
}

.create-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid $border-color;
}

.create-card-index {
    color: $color-text-alt;
    font-size: 12px;
}

.create-card {
    display: flex;
    justify-content: space-between;
}

.switch-side-btn {
    display: none;

    @include breakpoint-smallest {
        display: flex;
        margin-left: 4px;
        margin-right: auto;
    }
}

.create-side-toolbar {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 1px solid $border-color;
}

.toolbar-btn {
    &.active {
        color: $highlight-color;
    }

    .icon {
        width: 18px;
        height: 18px;
    }
}

.file-input {
    display: none;
}

.create-side-select {
    margin-left: auto;
    padding: 2px;
}

.create-side-content {
    height: 274px;
}

.create-side-panel-container {
    display: flex;

    @include breakpoint-small {
        flex-direction: column;

        .create-side-upload-device {
            flex-basis: 50%;
            padding-right: 0;
            margin-right: 0;
            padding-bottom: 4px;
            margin-bottom: 4px;
            border-right: none;
            border-bottom: 1px solid $border-color;
        }
    }
}

.create-side-panel-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $bg-color2;
}

.create-side-upload-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-top: 4px;
}

.create-side-upload-device {
    flex: 0 0 33%;
    padding-right: 4px;
    margin-right: 4px;
    border-right: 1px solid $border-color;

    .btn {
        margin: auto;
    }
}

.create-side-upload-item-form {
    margin: auto;
}

.create-side-upload-panel-message {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bg-color2;
    font-size: 14px;
    color: $color-text-alt;
}

.create-side-text-input {
    border: none;
    color: $color-text-primary;
    resize: none;
}

.create-message {
    margin-right: 8px;
    padding: 4px 8px;
    background-color: $danger-color;

    @include breakpoint-smallest {
        position: absolute;
        top: -22px;
        right: 0;
    }
}

.create-footer {
    position: relative;
    justify-content: space-between;
}
