.deck-list-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    padding: 8px;
    margin-bottom: 16px;
    background-color: $background-color;
    box-shadow: $box-shadow;
}

.deck-list-title {
    font-size: 1.5em;
}

.deck-list-btn {
    position: absolute;
    right: 8px;
}

.deck {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: $background-color;
    box-shadow: $box-shadow;
}

.deck-title {
    color: $highlight-color;

    &:hover {
        text-decoration: underline;
    }
}

.deck-description,
.deck-card-count {
    margin-top: 8px;
    color: $color-text-dark;
}

.deck-card-count {
    font-size: 0.875em;
}

.deck-btn-container {
    display: flex;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid $background-color-darker;
}

.deck-btn {
    &:first-of-type {
        margin-right: 16px;
    }

    svg {
        margin-right: 4px;
    }
}

.deck-loading-indicator,
.deck-list-message {
    margin: auto;
}

.deck-dialog-box {
    max-width: 380px;
}

.deck-dialog-box-title {
    margin-bottom: 24px;
    font-size: 1em;
}

.deck-dialog-box-btns {
    display: flex;
    justify-content: flex-end;

    .btn-icon {
        margin-left: 16px;
    }
}
