.header {
    height: 56px;
    background-color: $bg-color2;
    box-shadow: 0 1px 2px 0 $shadow-color;

    @include breakpoint-smallest {
        position: relative;
        height: 40px;
        margin-bottom: 2px;
        background-color: $bg-color3;
        box-shadow: none;
    };
}

.header-nav {
    height: 100%;
    max-width: 1060px;
    margin: 0 auto;

    @include breakpoint-smallest {
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            background-color: $bg-color3;
        }
    };
}

.header-nav-items {
    display: flex;
    height: 100%;
}

.header-nav-item {
    height: 100%;
    transition: 0.2s all;

    &:hover {
        background-color: $bg-color1;
    }

    &:last-of-type {
        margin-left: auto;
    }

    @include breakpoint-smallest {
        z-index: 1;
    };
}

.header-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 4px solid transparent;
    font-size: 0.875em;
    color: $alt-text-color;

    &.active {
        border-bottom-color: $highlight-color;
        color: $text-color;
    }

    &:visited {
        color: $alt-text-color;
    }
}
