.header {
    height: 56px;

    @include breakpoint-smallest {
        height: 40px;
    };
}

.header-nav {
    height: 100%;
    padding: 0;
}

.header-nav-items {
    display: flex;
    height: 100%;
}

.header-nav-item {
    height: 100%;
    transition: 0.2s all;

    &:hover {
        background-color: $bg-color1;
    }

    &:last-of-type {
        margin-left: auto;
    }
}

.header-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.875em;
    color: $color-text-alt;

    &.active {
        color: $highlight-color;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            height: 0;
            background-color: $highlight-color;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
            animation-name: rise;
        }
    }
}

@keyframes rise {
    0% {
        height: 0;
    }

    100% {
        height: 4px;
    }
}
