.home {
    padding: 16px;
}

.home-title, .home-desc {
    margin-top: 0;
    margin-bottom: 16px;
}

.home-title {
    font-weight: normal;
}

.home-desc {
    max-width: 600px;
    word-break: break-word;
}
