@mixin input-styles($padding, $color, $bg-color) {
    padding: $padding;
    border: none;
    background-color: $bg-color;
    font-size: 14px;
    color: $color;
}

@mixin card-breakpoint {
  @media (max-width: 800px) {
      @content;
  }
}
