.settings-item {
    display: block;
    padding-left: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 8px;
}

.settings-item-title {
    font-weight: bold;
}

.settings-label {
    display: flex;
}

.settings-checkbox, .settings-radio {
    margin-right: 4px;
}

.settings-input {
    width: 60px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-left: 4px;
    text-align: center;

    &:invalid ~ .settings-message {
        display: block;
    }
}

.settings-message {
    display: none;
    margin-top: 4px;
    font-size: 13px;
    color: $danger-color;
}

.settings-radio-label {
    margin-top: 4px;
}
