.side-name {
    margin-bottom: 4px;
    font-size: 14px;
    color: $alt-text-color;
    text-transform: uppercase;
}

.side-container {
    width: calc(50% - 4px);

    @include breakpoint-smallest {
        display: none;
        width: 100%;

        &.visible {
            display: block;
        }
    }
}

.side {
    position: relative;
    border: 1px solid $border-color;
    background-color: $bg-color2;
}

.side-content {
    overflow: auto;
    display: flex;
    flex-direction: column;

    @include breakpoint-smallest {
        height: 240px;
    }
}

.side-image-container {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    height: 60%;
    margin: 4px;
    text-align: center;

    & + .side-text {
        border-top: 1px solid $border-color;
    }

    &.full {
        height: calc(100% - 8px);
    }
}

.side-image {
    height: 100%;

    @supports(object-fit: scale-down) {
        width: 100%;
        object-fit: scale-down;
    }
}

.side-text {
    flex: 0 1 100%;
    width: 100%;
    padding: 4px;
    white-space: pre-line;
    background-color: $bg-color1;
}
