.study-header {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-color;
}

.study-score-bar-name-container, .score-bar {
    font-size: 14px;
    color: $alt-text-color;
}

.study-score-bar-name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.score-bar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1px 0;
}

.score-right-bar {
    background-color: $success-color;
}

.score-wrong-bar {
    background-color: $danger-color;
}

.study-score-table {
    display: flex;
    font-size: 14px;
    color: $alt-text-color;

    @include breakpoint-smallest {
        font-size: 13px;
    }
}

.study-score-table-cell {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;

    &:first-of-type {
        flex: 0 0 80px;
        text-align: left;

        @include breakpoint-smallest {
            flex-basis: 72px;
        }
    }

    &:not(:first-of-type) {
        flex: 1 0 30px;
    }

    &:not(:last-of-type) {
        border-right: 2px solid $border-color;
    }

    &.active {
        background-color: $bg-color1;
    }

    @include breakpoint-smallest {
        &:last-of-type {
            flex: 0 0 72px;
        }
    }
}

.study-score-table-cell-name {
    margin-bottom: 8px;
}

.study-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.study-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;

    @include breakpoint-smallest {
        flex-direction: column;
    }
}

.study-side-container {
    width: calc(50% - 4px);

    @include breakpoint-smallest {
        display: none;
        width: 100%;

        &.visible {
            display: block;
        }
    }
}

.study-side {
    height: 300px;
    background-color: $bg-color1;

    @include breakpoint-smallest {
        height: 240px;
    }
}

.study-side-content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 8px;
    overflow: auto;
}

.study-side-content {
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-line;
}

.study-footer {
    align-items: center;
}

.study-reveal-btn {
    width: 100%;
    color: $alt-text-color;

    &:hover {
        background-color: darken($bg-color1, 4%);
    }
}

.study-progress {
    margin-right: auto;
    color: $alt-text-color;

    @include breakpoint-smallest {
        font-size: 14px;
    }
}

.study-footer-btn {
    margin-left: 8px;

    @include breakpoint-smallest {
        margin-left: 4px;
        font-size: 13px;
    }
}

.set-score-container {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid $border-color;
    margin: 0 auto;
    background-color: $bg-color2;
    text-align: center;
}

.set-score-title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 18px;
}

.set-score-in-percent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100px;
    padding: 8px;
    border: 1px solid $border-color;
    margin: 0 auto;
    background-color: $bg-color3;
    font-size: 48px;
}

.set-score-bars {
    width: 60%;
    margin: 8px auto;
    text-align: left;
}

.set-score-bar-container {
    display: flex;

    &:first-of-type {
        margin-bottom: 4px;
    }
}

.set-score-bar-name {
    width: 46px;
    margin-right: 8px;
    font-size: 14px;
    text-align: right;
}

.set-score-bar {
    flex-grow: 1;
    background-color: $bg-color1;
}

.set-score-bar-inner {
    width: 0;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    &.expand {
        animation-name: expand;
    }
}

.set-score-btn-container {
    display: flex;
    justify-content: center;
}

.set-score-btn {
    margin-right: 8px;
}

@keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
