.study-header {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-color;
}

.study-score-bar-name-container, .study-score-bar {
    font-size: 14px;
    color: $alt-text-color;
}

.study-score-bar-name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.study-score-bar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.study-score-right-bar {
    background-color: $success-color;
}

.study-score-wrong-bar {
    background-color: $danger-color;
}

.study-score-table {
    display: flex;
    font-size: 14px;
    color: $alt-text-color;
}

.study-score-table-cell {
    width: calc((100% - 80px) / 5);
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;

    &:first-of-type {
        width: 80px;
        text-align: left;
    }

    &:not(:last-of-type) {
        border-right: 2px solid $border-color;
    }

    &.active {
        background-color: $bg-color1;
    }
}

.study-score-table-cell-name {
    margin-bottom: 8px;
}

.study-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-color;

    @include card-breakpoint {
        flex-direction: column;
    }
}

.study-side-container {
    width: calc(50% - 4px);

    @include card-breakpoint {
        width: 100%;

        &:first-of-type {
            margin-bottom: 8px;
        }
    }
}

.study-side {
    height: 300px;
    background-color: $bg-color1;

    @include card-breakpoint {
        height: 160px;
    }
}

.study-side-content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 8px;
    overflow: auto;
}

.study-side-content {
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-line;
}

.study-footer {
    display: flex;
    align-items: center;
    height: 32px;
}

.study-reveal-btn {
    width: 100%;
    height: 100%;
}

.study-progress {
    margin-right: auto;
    color: $alt-text-color;
}

.study-footer-btn {
    background-color: $success-color;

    &:first-of-type {
        margin-right: 8px;
        background-color: $danger-color;
    }
}

.set-score-container {
    max-width: 400px;
    padding: 8px;
    border: 1px solid $border-color;
    margin: 0 auto;
    background-color: $bg-color2;
    text-align: center;
}

.set-score-title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 18px;
}

.set-score-in-percent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100px;
    padding: 8px;
    border: 1px solid $border-color;
    margin: 0 auto;
    background-color: $bg-color3;
    font-size: 48px;
}

.set-score-bars {
    width: 60%;
    margin: 8px auto;
    text-align: left;
}

.set-score-bar-container {
    display: flex;

    &:first-of-type {
        margin-bottom: 4px;
    }
}

.set-score-bar-name {
    width: 46px;
    margin-right: 8px;
    font-size: 14px;
    text-align: right;
}

.set-score-bar {
    flex-grow: 1;
    background-color: $bg-color1;
}

.set-score-btn-container {
    display: flex;
    justify-content: center;
}

.set-score-btn {
    margin-right: 8px;
}
