$light-color: #fafafa;

$color-text-primary: #333;
$color-text-secondary: $light-color;
$color-text-alt: #555;

$highlight-color: #268bd2;
$border-color: #bbb;
$bg-color1: #ddd;
$bg-color2: #f2f2f2;
$bg-color3: $light-color;
$danger-color: #f58678;
$success-color: #51cd7a;
$max-width: 960px;
