$color-black-20: rgba(0, 0, 0, 0.2);

$highlight-color: #268bd2;

$color-text-light: #fafafa;
$color-text-mid: #777;
$color-text-dark: #555;
$color-text-darkest: #333;

$background-color-lightest: #f2f2f3;
$background-color-light: #f0f0f0;
$background-color: #e7e7e7;
$background-color-dark: #dfdfdf;
$background-color-darker: #d6d6d6;
$background-color-darkest: #cbcbcb;

$danger-color: #f15e4b;
$success-color: #00ad45;

$font-family: "Open sans", sans-serif;

$box-shadow: 0 1px 1px $color-black-20;

$max-width: 1024px;
