$text-color: #333;
$alt-text-color: #555;
$highlight-color: #268bd2;
$shadow-color: rgba(0, 0, 0, 0.2);
$border-color: #bbb;
$bg-color1: #ddd;
$bg-color2: #f2f2f2;
$bg-color3: #fafafa;
$primary-btn-color: desaturate($highlight-color, 20%);
$danger-color: #f58678;
$success-color: #51cd7a;
